
@media screen and (min-width: 400px) {
	header nav ul li {
			display: block;
			}

		header nav ul li a {
				text-decoration: none;
				color: black;
				}


		article	{
			display: block;
			width: 80%;
			}

		article p img {
			float : left;
			}

		article p {
			float:right;
			}
		
		}			